h1, h2, h3, h4, h5, h6, h7 {
  font-family: Raleway;
}

body {
  font-family: Fira Sans;
  font-size: 1.1rem;
  margin: 0;
  background: #ccc;
}

#page-container {
  margin: 3rem auto 0; 
  max-width: 850px; 
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 3rem);
}

#page-container > main {
  flex-grow: 1;
}

.navbar-module--nav--12f1H a {
  color: rgb(1, 68, 29);
  background-color: #c1c1c1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
  text-decoration: none;
}

.navbar-module--nav--12f1H h3 {
  color: rgb(1, 68, 29);
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}